body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #222;
    color: #ddd;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #ff6c00;
    text-align: center;
}

#form-container {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: #ddd;
}

input[type="text"],
input[type="tel"],
input[type="email"],
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #ddd;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    margin-left: -10px;
    border: 1px solid #ff6c00;
}

button:not(.favorite-button) {
    background-color: #ff6c00; /* Laranja neon */
    color: #fff;
    cursor: pointer;
}

.themebutton {
    display: flex;
    justify-content: center;
}

#toggle-theme-btn {
    width: 50px;
}

button:hover {
    background-color: #ff8000; /* Laranja mais claro ao passar o mouse */
}

#contacts-container {
    border-top: 1px solid #555;
    padding-top: 20px;
}

#contacts-container .contatos {
    margin-bottom: 20px;
}

#contacts-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contact-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #555;
    border-radius: 5px;
    border: 1px solid #333;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact-item h3 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #ddd;
    text-decoration: none; 
}

.contact-item p {
    margin: 0;
    color: #ccc;
}

.contact-buttons {
    margin-top: 10px;
    display: flex;
}

.contact-buttons button {
    margin-right: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.modal-content {
    background-color: #333;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    color: #ddd;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    color: #ddd;
    cursor: pointer;
}

.close:hover {
    color: #aaa;
}

.modal input[type="text"],
.modal input[type="tel"],
.modal input[type="email"],
.modal button {
    width: calc(100% - 22px);
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #ddd;
}

.modal button {
    background-color: #ff6c00; /* Laranja neon */
    color: #fff;
    cursor: pointer;
}

.modal button:hover {
    background-color: #ff8000; /* Laranja mais claro ao passar o mouse */
}

.favorite-button.favorite {
    background-color: #ff6c00;
}


@media screen and (max-width: 600px) {
    body {
        font-size: 14px; 
    }

    .container {
        max-width: 100%;
        padding: 10px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    button {
        padding: 8px;
    }

    .contact-item {
        padding: 8px;
    }
}

/* Adicionando o tema claro */
.light-theme {
    background-color: #f0f0f0; /* Fundo cinza claro */
    color: #333; /* Cor de texto principal */
}

.light-theme .container {
    background-color: #686565; /* Fundo branco para o container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.light-theme h1, .light-theme h2 {
    color: #ff9800; /* Azul escuro para títulos */
}

.light-theme input[type="text"],
.light-theme input[type="tel"],
.light-theme input[type="email"],
.light-theme button {
    border-color: #252020; /* Cor da borda cinza claro */
    background-color: #ccc; /* Fundo cinza para inputs e botões */
    color: #333; /* Cor de texto principal para inputs e botões */
}

.light-theme input[type="text"],
.light-theme input[type="tel"],
.light-theme input[type="email"] {
    border:2px solid #3b3030; /* Cor da borda cinza claro para inputs */
}

.light-theme button {
    background-color: #ff9800; /* Laranja */
    color: #fff; /* Texto branco para botões */
}

.light-theme button:hover {
    background-color: #fb8c00; /* Laranja mais escuro ao passar o mouse */
}

.light-theme #contacts-container {
    border-top-color: #ccc; /* Cor da borda superior cinza claro */
}

.light-theme .contact-item {
    background-color: #e0e0e0; /* Fundo cinza para itens de contato */
    border-color: #ccc; /* Cor da borda cinza claro para itens de contato */
}

.light-theme .close {
    color: #333; /* Cor de texto principal para o botão fechar */
}

.light-theme .modal-content {
    background-color: #ffffff; /* Fundo branco para o conteúdo modal */
    color: #333; /* Cor de texto principal para o conteúdo modal */
    border-color: #ccc; /* Cor da borda cinza claro para o conteúdo modal */
}

